

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  width: 100%;
  justify-items: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  width: 250px; 
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: black; 
  color: white; 
}

.imageContainer {
  background-color: black; 
}

.nome {
  padding: 10px; 
  font-family: Arial, sans-serif; 
}

.propriedade {
  padding: 10px; 
  font-family: Arial, sans-serif; 
}

.email {
  display: block;
  padding: 10px;
  background-color: gray; 
  font-family: Verdana, sans-serif; 
  color: white;
  text-decoration: none;
}
